openapi: 3.0.0
info:
  title: RepairDesk API Client
  description: A comprehensive PHP client for interacting with the RepairDesk Public API v1
  version: 1.0.0
  contact:
    name: RepairDesk API Support
    url: https://repairdesk.co/support

servers:
  - url: https://api.repairdesk.co/api/v1
    description: Production server

tags:
  - name: Devices
    description: Device management endpoints
  - name: Inventory
    description: Inventory management endpoints
  - name: Customers
    description: Customer management endpoints
  - name: Repair Tickets
    description: Repair ticket management endpoints
  - name: Orders
    description极速赛车开奖直播历史记录: Order management endpoints
  - name: Appointments
    description: Appointment management endpoints
  - name: Leads
    description: Lead management endpoints
  - name: Statuses
    description: Status management endpoints

paths:
  /devices:
    get:
      tags: [Devices]
      summary: Get devices associated with tickets
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
          description: API key to authorize the request
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: Number of items to return
        - name: offset
          in: query
          required: false
          schema:
            type: integer
          description: Number of items to skip
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'

  /devices/{id}:
    get:
      tags: [Devices]
      summary: Get specific device by ID
      parameters:
        - name: id
          in:极速赛车开奖直播历史记录 path
          required: true
          schema:
            type: integer
          description: Device ID
        - name: api_key
          in: query
          required: true
          schema:
            type: string
          description: API key to authorize the request
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '404':
          $ref: '#/components/responses极速赛车开奖直播历史记录/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /inventory:
    get:
      tags: [Inventory]
      summary: Get inventory items
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
          description: API key to authorize the request
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: Number of items to return
        - name: offset
          in: query
          required: false
          schema:
            type: integer
          description: Number of items to skip
      responses:
        '200':
          $ref: '#/components/responses/Success'

    post:
      tags: [Inventory]
      summary: Add new inventory item
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
          description: API key to authorize the request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryItemInput'
      responses:
        '极速赛车开奖直播历史记录201':
          $ref: '#/components/responses/Success'

  /inventory/{id}:
    put:
      tags: [Inventory]
      summary: Update inventory item
      parameters:
       极速赛车开奖直播历史记录 - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Inventory item ID
        - name: api_key
          in: query
          required: true
          schema:
            type: string
          description: API key to authorize the request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryItemInput'
      responses:
        '200':
          $ref: '#/components/responses/Success'

  /customers:
    get:
      tags: [Customers]
      summary: Get customers
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
          description: API key to authorize the request
      responses:
        '200':
          $ref: '#/components/responses/Success'

  /customers/{id}:
    get:
      tags: [Customers]
      summary: Get specific customer by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Customer ID
        - name: api_key
          in: query
          required: true
          schema:
            type: string
          description: API key to authorize the request
      responses:
        '200':
          $ref: '#/components/responses/Success'

    put:
      tags: [Customers]
      summary: Update customer information
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Customer ID
        - name: api_key
          in: query
          required: true
          schema:
            type: string
          description: API key to authorize the request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/极速赛车开奖直播历史记录components/schemas/CustomerInput'
      responses:
        '200':
          $ref: '#/components/responses/Success'

  /repairs:
   极速赛车开奖直播历史记录 get:
      tags: [Repair Tickets]
     极速赛车开奖直播历史记录 summary: Get repair tickets
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
          description: API key to authorize the request
      responses:
        '200':
          $ref: '#/components/responses/Success'

    post:
      tags: [Repair Tickets]
      summary: Create repair ticket
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
          description: API key to authorize the极速赛车开奖直播历史记录 request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepairTicketInput'
      responses:
        '201':
          $ref: '#/components/responses/Success'

  /repairs/{id}:
    put:
      tags: [Repair Tickets]
      summary: Update repair ticket
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Repair ticket ID
        - name: api_key
          in: query
          required: true
          schema:
            type: string
          description: API key to authorize the request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/s极速赛车开奖直播历史记录chemas/RepairTicketInput'
      responses:
        '200':
          $ref极速赛车开奖直播极速赛车开奖直播历史记录历史记录: '#/components/responses/Success'

  /orders:
    get:
      tags: [Orders]
      summary: Get orders
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
          description: API key to authorize the request
      responses:
        '200':
          $ref: '#/components/responses/Success'

  /orders/{id}:
    get:
      tags: [Orders]
      summary: Get specific order by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Order ID
        - name: api_key
          in: query
          required: true
          schema:
            type: string
          description: API key to authorize the request
      responses:
        '200':
          $ref: '#/components/responses/Success'

  /appointments:
    get:
      tags: [Appointments]
      summary: Get appointments
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
          description: API key to authorize the request
      responses:
        '200':
          $ref: '#/components/responses/Success'

    post:
      tags: [Appointments]
      summary: Create appointment
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
          description: API key to authorize the request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppointmentInput'
      responses:
        '201':
          $ref: '#/components/responses/Success'

  /leads:
    post:
      tags: [Leads]
      summary: Create lead from appointment
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
          description: API key to authorize the request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeadInput'
      responses:
        '201':
          $ref: '#/components/responses/Success'

  /parts:
    get:
      tags: [Inventory]
      summary: Retrieves a list of all parts
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
          description: API key to authorize the request
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /taxclasses:
    get:
      tags: [Inventory]
      summary: Retrieves a list of tax classes against a store location
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
          description: API key to authorize the request
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /statuses:
    get:
      tags: [Statuses]
      summary: Get ticket statuses
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
          description: API key to authorize the request
      responses:
        '200':
          $ref: '#/components/responses/Success'

components:
  schemas:
    Device:
      type: object
      properties:
        id:
          type: integer
          example: 123
        name:
          type: string
          example: "iPhone 12"
        model:
          type: string
          example: "A2172"
        manufacturer:
          type: string
          example: "Apple"
        type:
          type: string
          example: "smartphone"

    InventoryItem:
      type: object
      properties:
        id:
          type: integer
          example: 456
        name:
          type: string
          example: "iPhone Screen"
        sku:
          type: string
          example: "IPH-SCREEN-001"
        price:
          type: number
          format: float
          example: 49.99
        cost_price:
          type: number
          format: float
          example: 25.00
        in_stock:
          type: integer
          example: 10
        item_type:
          type: string
          example: "极速赛车开奖直播历史记录part"
        tax_class:
          type: string
          example: "standard"

    InventoryItemInput:
      type: object
      required:
        - name
        - item_type
        - manufacturer
        - device
        - in_stock
        - cost_price
        - price
        - tax_class
        - sku
      properties:
        name:
          type: string
          example: "iPhone Screen"
        sku:
          type: string
          example: "IPH-SCREEN-001"
        price:
          type: number
          format: float
          example: 49.99
        cost_price:
          type: number
          format: float
          example: 25.00
        in_stock:
          type: integer
          example: 10
        item_type:
          type: string
          example: "part"
        tax_class:
          type: string
          example: "standard"
        manufacturer:
          type: string
          example: "Apple"
        device:
          type: string
          example: "iPhone 12"

    Customer:
      type: object
      properties:
        id:
          type: integer
          example: 789
        name:
          type: string
          example: "John Doe"
        email:
          type: string
          example极速赛车开奖直播历史记录: "john.doe@example.com"
        phone:
          type: string
          example: "+1234567890"

    CustomerInput:
      type: object
      properties:
        email:
          type:极速赛车开奖直播历史记录 string
          example: "new.email@example.com"
        phone:
          type: string
          example: "+1234567890"

    RepairTicket:
      type: object
      properties:
       极速赛车开奖直播历史记录 id:
          type: integer
          example: 101
        customer_id:
          type: integer
          example: 789
        device_id:
          type: integer
          example: 123
        issue:
          type: string
          example: "Screen replacement needed"
        status:
          type: string
          example: "pending"
        created_at:
          type: string
          format: date-time
          example: "202极速赛车开奖直播历史记录4-01-15T10:00:00Z"

    RepairTicketInput:
      type: object
      properties:
        customer_id:
          type: integer
          example: 789
        device_id:
          type: integer
          example: 极速赛车开奖直播历史记录123
        issue:
          type: string
          example: "Screen replacement needed"
        status:
         极速赛车开奖直播历史记录 type: string
          example: "pending"

    Order:
      type: object
      properties:
        id:
          type: integer
          example: 202
        customer_id:
          type: integer
          example: 789
        total_amount:
          type: number
          format: float
          example: 149.97
        status:
          type: string
          example: "completed"
        created_at:
          type: string
          format: date-time
          example: "2024-01-14T15:30:00Z"

    Appointment:
      type: object
      properties:
        id:
          type: integer
          example: 303
        customer_id:
          type: integer
          example: 789
        date_time:
          type: string
          format: date-time
          example: "2024-01-16T14:00:00Z"
        service_type:
          type: string
          example: "Screen Repair"
        status:
          type: string
          example: "scheduled"

    AppointmentInput:
      type: object
      properties:
        customer_id:
          type: integer
          example极速赛车开奖直播历史记录: 789
        date_time:
          type: string
          format: date-time
          example: "2024-01-16T14:00:00Z"
        service_type:
          type: string
          example: "Screen Repair"
        notes:
          type: string
          example: "Customer mentioned screen is cracked"

    Lead:
      type: object
      properties:
        id:
          type: integer
          example: 404
        name:
          type: string
          example: "John Doe"
        email:
          type: string
          example: "john.doe@example.com"
        phone:
          type: string
          example: "+1234567890"
        service_interest:
          type: string
          example: "iPhone Repair"
        status:
          type: string
          example: "new"

    LeadInput:
      type: object
      properties:
        name:
          type: string
          example: "John Doe"
        email:
          type: string
          example: "john.doe极速赛车开奖直播历史记录@example.com"
        phone:
          type: string
          example: "+1234567890"
        service_interest:
          type: string
          example: "iPhone Repair"

    Part:
      type: object
      properties:
        id:
          type: string
          example: "74099947"
        name:
          type: string
          example: "Back Camera For Samsung Galaxy S8 / S极速赛车开奖直播历史记录8 Plus (US Models)"
        sku:
          type: string
          example: "107082011514"
        upc_code:
          type: string
          example: ""
        item_no:
          type: string
          example: "6872"
        price:
          type: string
          example: "26.99"
        in_stock:
          type: string
          example: "10"
        cost_price:
         极速赛车开奖直播历史记录 type: string
          example极速赛车开奖直播历史记录: "20.00"
        tax_inclusive:
          type: string
          example: "0"
        tax_class:
          type: object
          properties:
            tax_class:
              type: string
              example: "GST"
            id:
              type: string
              example: "1"
            tax_percent:
              type: string
              example: "5.000"
        warranty:
          type: string
          example: "30"
        warranty_timeframe:
          type: string
          example: "1"
        supplier:
          type: string
          example: "Supplier Name"
        image:
          type: string
          example: "https://example.com/images/parts/back_camera.jpg"
        devices:
          type: string
          example: "7720894,7720896"
        is_serialize:
          type: integer
          example: 0
        original_price:
          type: string
          example: "26.99"
        gst:
          type: string
          example: "1.35"
        serials:
          type: array
          items:
            type: string
        skus:
          type: array
          items:
            type: string

    Status:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: "Pending"
        type:
          type: string
          example: "default"
        color:
          type: string
          example: "#ffc107"
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: "Pending"
        type:
          type: string
          example: "default"
        color:
          type: string
          example: "#ffc107"

    ApiResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        statusCode:
          type: integer
          example: 200
        message:
          type: string
         极速赛车开奖直播历史记录 example: "OK"
        data:
          oneOf:
            - type: array
              items:
                type: object
            - type: object

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        status极速赛车开奖直播历史记录Code:
          type: integer
          example: 401
        message:
          type: string
          example: "Unauthorized"
        data:
          type: object
          properties:
            name:
              type: string
              example: "Unauthorized"
            message:
              type: string
              example: "Your request was made with invalid credentials."
            code:
              type: integer
              example: 0
            status:
              type: integer
              example: 401

  responses:
    Success:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiResponse'

    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    ServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

security:
  - ApiKeyAuth: []

securitySchemes:
  ApiKeyAuth:
    type: apiKey
    in: query
    name: api_key
